.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	color: white;
	position: fixed;

	background: #3a6186;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom,
		#89253e,
		#3a6186);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom,
		#89253e,
		#3a6186);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container::before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(img/ibislobby.jpg);
	transform: scale(1.1);
	background-size: cover;
	-webkit-filter: blur(3px);
	/* Safari 6.0 - 9.0 */
	filter: blur(3px);
	opacity: 0.4;
}

.flex-items {
	text-align: center;
	z-index: 1;
}

.restaurante {
	margin-top: 50px;
	background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
		url(img/restaurante.jpg) center;
	background-size: 100%;
	height: 25vh;
	/* background-size: 100vh; */
	text-align: center;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.notafiscal {
	margin-top: 50px;
	background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
		url(img/entrada.jpg) center;
	background-size: 100%;
	height: 25vh;
	/* background-size: 100vh; */
	text-align: center;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

div.flex-items h4 {
	margin: 20px;
}

div.teste {
	background-color: red;

}

div.restaurante p,
h2 {
	color: white;
}

div.notafiscal p,
h2 {
	color: white;
}

div.menuRest {
	background-color: ghostwhite;
	padding: 15px;
	white-space: nowrap;
	/* [1] */
	overflow-x: auto;
	/* [2] */
	-webkit-overflow-scrolling: touch;
	/* [3] */
	-ms-overflow-style: -ms-autohiding-scrollbar;
	/* [4] */
}

div.menuRest a {
	color: rgb(150, 150, 150)
}

div.menuRest a:active {
	color: rgb(150, 150, 150);
	font-weight: bold;
	border-bottom: 2px solid red;
}

div.menuRest::-webkit-scrollbar {
	display: none;
}

div.menuRest a {
	margin-right: 10px;
}

div.pratos {
	background: white;
	margin: 0 5%;
}

div.prato img {
	width: 30%;
	height: 30%;
	float: right;
	margin: 0 0 10px 10px;
}

div.prato h4 {
	margin-top: 10px;
}

div.text {
	max-width: 60%;
}

div.price h4 {
	margin-right: 10px;
	margin: 20px 20px 0 0;
}

div.price {
	display: flex;
	margin-bottom: 50px;
}

div.nf img {
	width: 90%;
	text-align: center;
}

div.nf {
	margin: 20px;
	text-align: center;
}

div.nf h2 {
	color: red;
	margin-bottom: 0;
}

div.nf h3 {
	margin-top: 0;
}

/* TESTE TESTE TESTE TESTE TESTE TESTE */

div.index-test {
	margin-top: 50px;
}

div.index-inicio {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	color: white;
	height: 95vh;
	text-align: center;

	background-image: url(img/ibislobbyy.jpg);
	background-size: cover;
}

div.index-inicio h4 {
	margin: 20px;
}

div#index-items {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
}

div#index-items h2 {
	color: black;
}

div#index-items a {
	text-decoration: none;
	color: inherit;
}

div.index-rodape {
	background-color: #eaeaea;
	padding: 25px;
	color: #5a5a5a;
}

/* html {
	scroll-behavior: smooth;
} */

div.card {
	color: #909090;
	margin: 20px;
	width: 40%;
	text-align: center;
}

div.card img {
	width: 40%;
}

/* 
div.pratos h1::before {
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
} */

:target {
	padding-top: 100px;
	margin-top: -100px;
	display: inline-block;
}